<h1><%= @restaurant.name %></h1>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: 'btn btn-success' %>

<ul>
  <li>Category: <%= @restaurant.category %></li>
  <li>Phone number: <%= @restaurant.phone_number %></li>
  <li>Address: <%= @restaurant.address %></li>
</ul>

<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><strong>Review:</strong> <%= review.content %> (<%= review.rating %>*)</li>
  <% end %>
</ul>

<%= link_to '<-- GO BACK', root_path, class: 'btn btn-danger' %>
